{
    "useTabs": false,
    "printWidth": 200,
    "tabWidth": 4,
    "trailingComma": "all",
    "semi": true,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "auto",
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSameLine": false,
    "proseWrap": "preserve"
}
