@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --navbar-color : #388E3C;
    --bg-first : #F2F9F1;
    --bg-secondary : #ffffff;
    --text-color : #010c01;
}

.history-gradient{
    color: #071703;
    background-image: -webkit-linear-gradient(0deg, #071703 0%, #A7BA58 50%, #10d228 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}